<!-- Acerca de -->
<section>
    <div class="container-fluid pb-4 text-center">
      <div class="row pt-3 justify-content-center">
        <a name="SobreMi"></a>
          <h2 class="texto-claro">Sobre mi</h2>  

      </div>

      <div class="d-grid gap-2 col-5 mx-auto mb-3">
        <button
          type="button"
          class="btn btn-secondary"
          routerLink="/editacercade/1"
          *ngIf="isLogged">
          Editar persona
        </button>
      </div>

      <div class="row py-4 m-3 border rounded justify-content-around align-items-center">
        <div class="col-sm-3 border">
          <img src={{persona.img}} class="p-1 img-fluid rounded" id="Fotografía" alt="Fotografía">
        </div>
        <div class="col-sm-6 my-4 p-4 border rounded dark-background">    
          <h5 class= "texto-oscuro text-start">
            {{persona.descripcion}}
          </h5>
        </div>
      </div>
      <div class="row p-3 mt-4 align-items-center justify-content-around">
        <div class="col-sm-8 mt-4">
          <p class="fs-4">Siempre he estado interesado en la informática
            y el potencial que tienen las computadoras para hacer todo tipo de cosas. <br>
            Cuando terminé mis estudios secundarios, comencé a adentrarme en el mundo de la
            programación.
          </p>
        </div>

      <div class="col-sm-8 mt-2">
        <p class="fs-4">
          Me mantengo aprendiendo y probando cosas nuevas de forma constante. Suelo preguntarme qué es lo próximo que lograré hacer. <br>
          De alguna forma es una de mis motivaciones.
        </p>
      </div>
    </div>
    
    </div>
  </section>
