<!-- Educación -->
<section>
  <div class="container-fluid py-3">
    <div class="row mt-3">
      <div class="col-md-3">
        <h2 class="texto-claro">Educación</h2>
      </div>
    </div>

    <!-- Botones de añadir, editar y borrar edicación.
    Editar y borrar se incluyen dentro del ciclo -->
    <div class="d-grid gap-2 col-5 mx-auto mb-3">
      <button
        type="button"
        class="btn btn-secondary"
        routerLink="/nuevaeduc"
        *ngIf="isLogged">
        Nueva educación
      </button>
    </div>
      
      <div class="col pt-2 mx-4 border">
        <!-- Ciclo -->
        <section class="list-group mb-2" *ngFor="let Educacion of educacion">
          
          <div class="d-grid gap-2 d-md-flex mx-4 justify-content-md-end">
            <button
              *ngIf="isLogged"
              class="align-self-end mt-3 btn btn-secondary"
              routerLink="/editeduc/{{ Educacion.id }}">
              <i class="bi bi-pencil-fill"></i> Editar
            </button>

            <button
              *ngIf="isLogged"
              class="align-self-end mt-3 btn btn-danger"
              (click)="delete(Educacion.id)">
              <i class="bi bi-x-circle"></i> Borrar
            </button>
          </div>

            <div class="col p-2 m-4 border rounded">
              <ul class="list-group mb-2 p-1">
                <h3 class="texto-oscuro">{{Educacion.nombreE}}</h3>
                <li class="list-group-item bg-transparent border-items rounded">
                  <!--Espacio para agregar logos en próximamente.-->
                  <p>
                    {{Educacion.descripcionE}}
                  </p>
                </li>
              </ul>
            </div>
        </section>
        <!-- Fin de ciclo -->
      </div>
    </div>
  
</section>
