/* Exclusivo de "encabezado" */
.header {
    background: url(src/assets/Imágenes/Covers/imagen-banner.jpg);
    background-size: cover;
    height: 600px;
    width: 100%;
  }
  
  .redes-sociales-icons{
    height: 30px;
    width: 30px;
  }

  a{color: rgb(217, 226, 235);}
  a:hover{color:rgb(134, 141, 148);}