<!-- Habilidades y Conocimientos -->
<section>
<!-- Container Exterior -->
<div class="container p-1">
<div class="row justify-content-center my-2">
    <div class="col-md-5 text-center">
      <a name="Habilidades"></a>
      <h3 class="texto-claro">Habilidades y Conocimientos</h3>
    </div>
  </div>

  <!-- Container Interior (Habilidades y Conocimientos) -->
  <div class="container-fluid border">
    <div
      class="row border-bottom align-items-center text-center dark-background"
    >
      <div class="col py-1">
        <h4 class="texto-oscuro">Área</h4>
      </div>
      <div class="col py-2">
        <h4 class="texto-oscuro">Lenguajes y Herramientas</h4>
      </div>
    </div>
    <div class="row border-bottom align-items-center">
      <div class="col ms-2 my-2 text-start">
        <h4 class="texto-oscuro">Front End</h4>
        <p>
          Mi conocimiento sobre Front End es básico. <br />
          Puedo entender la estructura de una página o aplicación y sus
          componentes, crear una maqueta y estilizarla.
        </p>
      </div>   
      <div class="col my-3 text-center">
        <img src="/../assets/Imágenes/Logos Portfolio/html.png" alt="Logo HTML" class="Logos mx-2 my-1 "> 
        <img src="/../assets/Imágenes/Logos Portfolio/CSS.png" alt="Logo CSS" class="Logos mx-2 my-1 ">
        <img src="/../assets/Imágenes/Logos Portfolio/js.png" alt="Logo JS" class="Logos mx-2 my-1 ">
        <img src="/../assets/Imágenes/Logos Portfolio/angular.png" alt="Logo Angular" class="Logos mx-2 my-1 ">
        <img src="/../assets/Imágenes/Logos Portfolio/bootstrap.png" alt="Logo Bootstrap" class="Logos mx-2 my-1 ">
        <p>Tengo conocimientos básicos sobre HTML, CSS y JavaScript.</p>
        <p>Trabajo con los frameworks Angular y Bootstrap.</p>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col ms-2 my-2">
        <h4 class="texto-oscuro">Back End</h4>
        <p>
          Mi manejo del Back End es básico. Puedo diseñar la estructura de una
          base de datos simple.
        </p>
      </div>
      <div class="col my-3 text-center">
        <img src="/../assets/Imágenes/Logos Portfolio/mysql.png" alt="Logo MySQL" class="Logos mx-2 my-1 ">
        <p>Tengo conocimiento básico sobre ... ... ...</p>
        <p>Trabajo con mySQL</p>
      </div>
    </div>
  </div>
</div>
</section>